@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-lora: 'Lora', serif;
}

body {
  font-family: var(--font-lora);
}


@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes slideIn {
  from { opacity: 0; transform: translateX(-10px); }
  to { opacity: 1; transform: translateX(0); }
}

@keyframes slideInRight {
  from { transform: translateX(100%); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}

@keyframes fadeDelay {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn { animation: fadeIn 0.6s ease-out forwards; }
.animate-slideIn { animation: slideIn 0.7s ease-out forwards; }
.animate-slideInRight { animation: slideInRight 0.4s ease-out forwards; }

.animate-fadeDelay1 { animation: fadeDelay 0.6s 0.1s ease-out forwards; opacity:0; }
.animate-fadeDelay2 { animation: fadeDelay 0.6s 0.2s ease-out forwards; opacity:0; }
.animate-fadeDelay3 { animation: fadeDelay 0.6s 0.3s ease-out forwards; opacity:0; }

.animate-fadeInSlow { animation: fadeIn 0.8s ease-out forwards; }



